body {
  background: goldenrod;
}

h1 {
  color: brown;
  text-align: center;
}

nav a {
  padding: 5px;
  color: sienna;
  margin: 10px;
}
p{
    text-align: center;
    font-size: 1.5em;
}
img {
  max-width: 80%;
  /* display: block;
    margin: 10px auto; */
}
.photo-container {
  display: flex;
  justify-content: center;
}
.nav-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* nav{
    margin: 10px auto;
} */